
{% for key, value in devices.iteritems() %}
    <div class="col-xs-3">
        <div class="ui card">
            <div class="content">
                <a class="header">{{ value['device_name'] }}</a>
                <div class="meta">
                    <span class="date">{{ value['device_room'] }}</span>
                </div>
                <div class="ui toggle checkbox">
                    {% if value['device_state'] == 'true' %}
                    <input checked type="checkbox" name="public">
                    <label>ON</label>
                    {% else %}
                    <input class="togglebtn" type="checkbox" name="t{{ value['id'] }}" >
                    <label>OFF</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}



