<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Jquery -->
    <script type="text/javascript" src="../static/plugins/jquery/jquery-3.2.0.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/boostrap/css/bootstrap.css">
    <script type="text/javascript" src="../static/plugins/boostrap/js/bootstrap.js"></script>
    <!-- SemanticUI -->
    <link rel="stylesheet" href="../static/plugins/semantic/dist/semantic.css">
    <script type="text/javascript" src="../static/plugins/semantic/dist/semantic.js"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="../static/css/devices.css">
    <script type="text/javascript" src="../static/js/devices.js"></script>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="devicesheader" class="col-xs-12">
                STATUS: <strong>Connected!</strong>
            </div>
            <div class="col-xs-4">
                <div class="ui card">
                  <div class="content">
                    <a class="header">Switch 01</a>
                    <div class="meta">
                      <span class="date">HUBCODE0124285</span>
                    </div>
                    <div class="description">
                      <div class="inline field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" tabindex="0" class="hidden" checked>
                          <label>Toggle</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      ON
                    </a>
                  </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="ui card">
                  <div class="content">
                    <a class="header">Switch 02</a>
                    <div class="meta">
                      <span class="date">HUBCODE0124285</span>
                    </div>
                    <div class="description">
                      <div class="inline field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" tabindex="0" class="hidden">
                          <label>Toggle</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      OFF
                    </a>
                  </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="ui card">
                  <div class="content">
                    <a class="header">Switch 03</a>
                    <div class="meta">
                      <span class="date">HUBCODE0124285</span>
                    </div>
                    <div class="description">
                      <div class="inline field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" tabindex="0" class="hidden">
                          <label>Toggle</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      OFF
                    </a>
                  </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>