<link rel="stylesheet" href="../static/plugins/semantic-calendar/calendar.min.css">
<script type="text/javascript" src="../static/plugins/semantic-calendar/calendar.min.js"></script>
<script type="text/javascript" src="../static/js/devices.js"></script>


{% for key, value in devices.iteritems() %}
    <div class="col-xs-3">
        <div class="ui card">
            <div class="content">
                <a class="header">{{ value['device_name'] }}</a>
                <div class="meta">
                    <span class="date">{{ value['device_room'] }}</span>
                </div>
                <div class="ui toggle checkbox">
                    {% if value['device_state'] == 'true' %}
                    <input checked class="togglebtn" type="checkbox" name="t{{ value['id'] }}">
                    <label>ON</label>
                    {% else %}
                    <input class="togglebtn" type="checkbox" name="t{{ value['id'] }}" >
                    <label>OFF</label>
                    {% endif %}
                </div>
                <div class="extra content" style="margin-top:20px">
                    <hr>
                    <a style="font-size: 13px;" data-toggle="modal" data-target=".bs-example-modal-sm{{ value['id'] }}">
                        <i style="color: #2196F3" class="add to calendar icon"></i>
                        SCHEDULE
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm{{ value['id'] }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div style="margin-top: 20px;" class="text-center">
              <div style="font-size: 13px;" class="ui calendar text-center examplecalendar">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input id="datetimeschedule{{ value['id'] }}" type="text" placeholder="Date/Time" value="{{ value['schedule_datetime'] }}">
                </div>
              </div>
              {% if value['schedule_datetime'] %}
                  <div id="schedbox{{ value['id'] }}" class="ui slider checkbox hidden">
                  {% if value['schedule_state'] == 'on' %}
                    <input checked id="statusschedule{{ value['id'] }}" type="checkbox">
                  {% else %}
                      <input id="statusschedule{{ value['id'] }}" type="checkbox">
                  {% endif %}
                  <label>STATE</label>
              </div>
                  <button id="schedulebtn{{ value['id'] }}" onclick="schedule_device({{ value['id'] }})" style="font-size: 10px; margin-top: 20px;" class="ui teal button hidden">SCHEDULE</button>
              <br>
              <button id="cancelschedulebtn{{ value['id'] }}" onclick="unschedule_device({{ value['id'] }})" style="font-size: 10px; margin-top: 20px;" class="ui red button ">CANCEL</button>
              {% else %}
                  <div id="schedbox{{ value['id'] }}" class="ui slider checkbox">
                  {% if value['schedule_state'] == 'on' %}
                    <input checked id="statusschedule{{ value['id'] }}" type="checkbox">
                  {% else %}
                      <input id="statusschedule{{ value['id'] }}" type="checkbox">
                  {% endif %}
                  <label>STATE</label>
              </div>
              <button id="schedulebtn{{ value['id'] }}" onclick="schedule_device({{ value['id'] }})" style="font-size: 10px; margin-top: 20px;" class="ui teal button">SCHEDULE</button>
              <br>
              <button id="cancelschedulebtn{{ value['id'] }}" onclick="unschedule_device({{ value['id'] }})" style="font-size: 10px; margin-top: 20px;" class="ui red button hidden">CANCEL</button>
              {% endif %}
          </div>
          <br/>
        </div>
      </div>
    </div>

{% endfor %}



